.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fo0aq46bb2w111.jpg%3Fwidth%3D640%26crop%3Dsmart%26auto%3Dwebp%26s%3D6a9216cd0c400677ad95dc66d7cc10e0854aa980');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}
